* {
  font-family: Courier;
  overflow: hidden;
  font-style: normal;
  white-space: nowrap;
  line-height: normal;
  font-size: 12px;
}

input {
  border: 0;
  outline: 0;
  padding: 0;
  margin-top: -10;
  border: none;
  width: fit-content;
  background: transparent;
  font-weight: bold;
  border-radius: 0px;
  border-bottom: 1px solid black;
}

.sheet-label {
  border-bottom: 0;
  font-weight: normal;
  align-items: center;
}

.sheet-big {
  text-align: center;
  font-size: 24px;
  margin-top: -12px;
}

.sheet-attribute {
  line-height: 42px;
  margin-top: -26px;
}

.sheet-min {
  padding-left: 2px;
  padding-right: 3px;
}

.sheet-max {
  padding-left: 5px;
  padding-right: 4px;
}

.sheet-underline {
  text-decoration: underline;
}

input:focus {
  border-bottom: 1px solid royalblue;
}